.container{
    display: flex;
    flex-direction: column;
    padding: 1em 5em;
    background-color: #F1F2F6;
    width: 100%;
    gap: 2em;
    min-height: 100vh;
    
}

.card-container
{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 80vw;
    max-width: 85vw;
    padding: 2em 3em;
    border-radius: 4px;
}


.two{
    
}


.navigator{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    gap: 3em;
}

.navicol{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 2em;
    /* justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
}

.box{
    border: 2px solid #F1F2F6;
    width: 400px;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 1em;
    color: #82858C;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box:hover{
    background-color: #0746A7;
    color: #fff;
}


.box-ico{
    font-size: 50px;
    position: absolute;
    right: -.1em;
    top: 40%;
}

.plane{
    transform: rotate(-90deg);
}

.row-btn{
    border: 2px solid #F1F2F6 ;
    color: #82858C;
    background-color: transparent;
    padding: 1em 2em;
}

.row-btn:hover{
    background-color: #F1F2F6;
}

.row2{
    display: flex;
    flex-direction: row;
    gap: 3em;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

.row-input{
    background-color: #F3F3F3;
    border: none;
}

.top{
    padding: 1em 14em 1em 1em;
}

.bottom{
    padding: 1em 9.5em 1em 1em;
}

.loc-icon{
    position: absolute;
    left: 0;
}